@page "/upsert-job"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<MudGrid Class="d-flex justify-center">
		<MudItem xs="12" sm="7">
			<MudCard>

				<MudCardContent>
					<MudTextField Label="JobTitle" Class="mt-3"
								  @bind-Value="model.JobTitle" For="@(() => model.JobTitle)" />

					<MudTextField Label="About" Class="mt-3"
								  @bind-Value="model.About" For="@(() => model.About)" />

					<MudTextField Label="Salary" Class="mt-3"
								  @bind-Value="model.Salary" For="@(() => model.Salary)" />

					<MultiChipSelectComponent Value="Javascript||Nodejs||Visual Studio"
											  Skills="Javascript||Nodejs||Visual Studio||Python"
											  Label="Select Skill"
											  ValueChanged="(e)=>{model.SelectedSkills = e;}" />



					<MudTextField Label="Contact Email" Class="mt-3"
								  @bind-Value="model.ContactEmail" For="@(() => model.ContactEmail)" />

				</MudCardContent>

				<div Class="pa-3">
					<MultiListItem ValueChanged="(e)=>{model.Responsiblities = e;}" Label="Responsibility" />
					<MultiListItem ValueChanged="(e)=>{model.Qualifications = e;}" Label="Qualification" />
				</div>
				<MudCardActions>
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
				</MudCardActions>
			</MudCard>
		</MudItem>

	</MudGrid>
</EditForm>

@code {
	JobItem model = new JobItem();


	bool success;


	public class JobItem
	{
		[Required]
		public string JobTitle { get; set; }

		[Required]
		public string About { get; set; }

		[Required]
		public string Salary { get; set; }

		[Required]
		public string Responsiblities { get; set; }

		[Required]
		public string SelectedSkills { get; set; }

		[Required]
		public string Qualifications { get; set; }

		[Required]
		public string JobFunction { get; set; }

		[Required]
		public string ContactEmail { get; set; }


	}



	/*This section is for skill search*/






	private void OnValidSubmit(EditContext context)
	{
		success = true;
		StateHasChanged();

	}

}
