@page "/view-prospective-applicants"

<MudGrid>
	<MudItem xs="12" md="6">
		<MudTextField @bind-Value="@_normalText" HelperText="@_normalText" Label="Search Job Title, Keywords" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
	</MudItem>
	<MudItem xs="12" md="6">
		<MudSelect  T="string" Label="Region" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
			<MudSelectItem Value="@("Nigeria")" />
			<MudSelectItem Value="@("Ghana")" />
			<MudSelectItem Value="@("Benin")" />
		</MudSelect>
	</MudItem>
	<MudItem xs="12" md="6">
		<MudSelect  Variant="Variant.Outlined" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionText))" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="options" T="string" Label="Filters" AdornmentIcon="@Icons.Material.Filled.Search" AnchorOrigin="Origin.BottomCenter">
			@foreach (var tags in filterTags)
			{
				<MudSelectItem T="string" Value="@tags">@tags</MudSelectItem>
			}
		</MudSelect>
	</MudItem>
</MudGrid>

<MudGrid>
	<MudItem sm="4">
        <MudCard>
            <MudCardContent Class="d-flex align-center flex-column">
                <MudImage Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
                <MudText Style="font-weight:bold">Daniel Odokuma</MudText>
                <MudText Typo="Typo.body2">React Developer</MudText>
            </MudCardContent>
            <div class="d-flex justify-center">
                <MudRating ReadOnly="true" SelectedValue="2" />
            </div>
            <MudCardActions Class="d-flex justify-center">
				<a href="applicant-information">
					<MudButton Variant="Variant.Text" Color="Color.Primary">Check Profile</MudButton>

				</a>
             </MudCardActions>
        </MudCard>
	</MudItem>

    <MudItem sm="4">
		<MudCard>
			<MudCardContent Class="d-flex align-center flex-column">
				<MudImage Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
				<MudText Style="font-weight:bold">Daniel Odokuma</MudText>
				<MudText Typo="Typo.body2">React Developer</MudText>
			</MudCardContent>
			<div class="d-flex justify-center">
				<MudRating ReadOnly="true" SelectedValue="2" />
			</div>
			<MudCardActions Class="d-flex justify-center">
				<MudButton Variant="Variant.Text" Color="Color.Primary">Check Profile</MudButton>
			</MudCardActions>
		</MudCard>
    </MudItem>
</MudGrid>


@code {
	public string _normalText = "";


	//->Multi Select
	private bool multiselectionTextChoice = true;
	private string value { get; set; } = "Nothing selected";
	private IEnumerable<string> options { get; set; } = new HashSet<string>() { "Coder" };

	private string[] filterTags =
	{
		"Coder", "Developer", "Real Estate", "California", "Colorado", "Connecticut"
	};

	private string GetMultiSelectionText(List<string> selectedValues)
	{
		if (multiselectionTextChoice)
		{
			return $"Selected tags {(selectedValues.Count > 1 ? "s" : "")}: {string.Join(", ", selectedValues.Select(x => x))}";
		}
		else
		{
			return $"{selectedValues.Count} state{(selectedValues.Count > 1 ? "s have" : " has")} been selected";
		}
	}
}
