@page "/view-prospective-applicants"

<MudGrid>
	<MudItem xs="12" md="6">
		<SearchItem Label="Country" Value="@Country" SearchItems="All||Nigeria||Ghana||South America" ValueChanged="(e)=>{Country = e;}" />
	</MudItem>

	<MudItem xs="12" md="6">
		<SearchItem Label="Selected Skills" Value="@SelectedSkills" SearchItems="All||Javascript||Nodejs||Visual Studio||Python" ValueChanged="(e)=>{SelectedSkills = e;}" />
	</MudItem>
	
</MudGrid>
<MudButton OnClick="RetrievePage" FullWidth>Search</MudButton>
<MudGrid>
	@foreach (var item in ApplicantList)
	{
		<MudItem sm="6" md="4">
			<MudCard>
				<MudCardContent Class="d-flex align-center flex-column">
					<MudImage Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
					<MudText Style="font-weight:bold">@item.Name</MudText>
					<MudText Typo="Typo.body2">@item.Title</MudText>
				</MudCardContent>
				<div class="d-flex justify-center">
					<MudText>
							@item.Country, @item.City
					</MudText>
				</div>
				<MudCardActions Class="d-flex justify-center">
					<a href=@("applicant-information/"+item.Id)>
						<MudButton Variant="Variant.Text" Color="Color.Primary">Check Profile</MudButton>
					</a>
				</MudCardActions>
			</MudCard>
		</MudItem>
	}


</MudGrid>

<div class="d-flex justify-center mt-4">
	<MudPagination Color="Color.Primary" Count="@_total" @bind-Selected="@_selected" @bind-Selected:after="RetrievePage" />
</div>
