@page "/"

<MudGrid>
	<MudItem xs="12" md="6">
		<SearchItem Label="Country" Value="@Country" SearchItems="All||Nigeria||Ghana||South America" ValueChanged="(e)=>{Country = e;}" />
	</MudItem>

	<MudItem xs="12" md="6">
		<SearchItem Label="Selected Skills" Value="@SelectedSkills" SearchItems="All||Javascript||Nodejs||Visual Studio||Python" ValueChanged="(e)=>{SelectedSkills = e;}" />
	</MudItem>

	<MudItem xs="12" md="6">
		<SearchItem Label="Work Type" Value="@WorkType" SearchItems="All||Full Time||Part TIme||Contract" ValueChanged="(e)=>{WorkType = e;}" />
	</MudItem>
</MudGrid>
<MudButton OnClick="RetrievePage" FullWidth>Search</MudButton>

@if (ClientAuthService.AuthenticationState.User.IsInRole("Applicant"))
{
	<div>
		You are an Applicant Now
	</div>
}
<!---->
<p class="mt-4">We Found 853 jobs</p>

@foreach (var job in JobList)
{
		<JobsItem Job="job" />
	
}
<div class="d-flex justify-center" >
	<MudPagination Color="Color.Primary" Count="@_total" @bind-Selected="@_selected" @bind-Selected:after="RetrievePage" />
</div>

