@page "/job-information/{Id:int}"

<MudContainer>

	@if (Job != null)
	{
		<MudGrid>
			<MudItem md="7" sm="5">
				<!------------------>
				<MudText Typo="Typo.h5" Style="font-weight:bolder">@Job.JobTitle</MudText>
				<MudText Typo="Typo.caption">@Job.CompanyName</MudText>

				<div class="d-flex">
					<MudText Typo="Typo.caption" Style="font-weight:lighter">Nigeria, Port Harcourt</MudText>
					<MudText Typo="Typo.caption" Style="font-weight:lighter"> - 14 hrs ago</MudText>
				</div>

				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">About This Job</MudText>

				<MudText Typo="Typo.body2">
					@Job.About
				</MudText>

				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Responsibilities</MudText>
				<ListComponent InputValue="@Job.Responsiblities" />


				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Required Qualifications</MudText>
				<ListComponent InputValue="@Job.Qualifications" />

				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Skills</MudText>

				<div Class="d-flex align-center">
					<ChipComponent InputValue="@Job.SelectedSkills" />
				</div>
				<!------------------>


			</MudItem>
			<MudItem md="5" sm="5">
				<div class="d-flex">
					<MudIcon Class="mr-2" Icon="@Icons.Material.Filled.Home"></MudIcon>
					<MudText>Nigeria</MudText>
				</div>
				<MudText Typo="Typo.h5" Style="font-weight:bold" Class="mt-3">$ @Job.Salary</MudText>
				<MudText Typo="Typo.body1">Avg Salary</MudText>

				<MudList>
					<MudListSubheader> Details</MudListSubheader>
					<MudListItem Avatar="@Icons.Material.Filled.Work">
						<MudText Typo="Typo.h6" Style="font-weight:bold">Software and Hardware</MudText>
						<MudText Typo="Typo.body2">Industry</MudText>
					</MudListItem>

					<MudListItem Avatar="@Icons.Material.Filled.Headphones">
						<ChipComponent InputValue="@Job.WorkType" />	
						<MudText Typo="Typo.body2">Employment Type</MudText>
					</MudListItem>

					<MudListItem Avatar="@Icons.Material.Filled.VerifiedUser">
						<MudText Typo="Typo.h6" Style="font-weight:bold">@Job.JobFunction</MudText>
						<MudText Typo="Typo.body2">Job Function</MudText>
					</MudListItem>

					<MudListItem Avatar="@Icons.Material.Filled.Mail">
						<MudText Typo="Typo.h6" Style="font-weight:bold">@Job.ContactEmail</MudText>
						<MudText Typo="Typo.body2">Contact Email</MudText>
					</MudListItem>

				</MudList>
				@if(Job.isAuthUser){
					<MudButton Href=@("/job-edit/"+Job.Id)  Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Edit Job Info</MudButton>

				}else{
					<MudButton @onclick="ApplyToJob" Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Apply For Job</MudButton>

				}
				</MudItem>
		</MudGrid>
	}

	



</MudContainer>


