@page "/recruiter-information/{Id:int}"

@if (Recruiter != null)
{
	<MudContainer>

		<MudGrid>
			<MudItem md="7" sm="5">
				<!------------------>
				<MudText Typo="Typo.h5" Style="font-weight:bolder">@Recruiter.Name</MudText>


					<div class="d-flex">
						<MudText Typo="Typo.caption" Style="font-weight:lighter">@Recruiter.Country, @Recruiter.City</MudText>
					</div>

					<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">About</MudText>

					<MudText Typo="Typo.body1">
						@Recruiter.About
				</MudText>


				<!------------------>


			</MudItem>
			<MudItem md="5" sm="5">


				<MudList>
					<MudListItem Avatar="@Icons.Material.Filled.Mail">
						<MudText Typo="Typo.h6" Style="font-weight:bold">@Recruiter.Email</MudText>
							<MudText Typo="Typo.body2">Contact Email</MudText>
						</MudListItem>

						<MudListItem Avatar="@Icons.Material.Filled.Phone">
							<MudText Typo="Typo.h6" Style="font-weight:bold">@Recruiter.PhoneNumber</MudText>
							<MudText Typo="Typo.body2">Phone</MudText>
						</MudListItem>

						<MudListItem Avatar="@Icons.Material.Filled.Work">
							<MudText Typo="Typo.h6" Style="font-weight:bold">@Recruiter.Industry</MudText>
							<MudText Typo="Typo.body2">Industry</MudText>
						</MudListItem>



					</MudList>

					<!--<MudButton Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Contact</MudButton>-->
					<MudButton Href="edit-recruiter-information" Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Edit Information</MudButton>

			</MudItem>
		</MudGrid>




	</MudContainer>
}
