@page "/upsert-job"

@using System.ComponentModel.DataAnnotations
@using JobBoardsSite.Shared.Requests
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<MudGrid Class="d-flex justify-center">
		<MudItem xs="12" sm="7">
			<MudCard>

				<MudCardContent>
					<MudTextField Label="Job Title" Class="mt-3"
								  @bind-Value="model.JobTitle" For="@(() => model.JobTitle)" />

					<MudTextField Label="About" Class="mt-3"
								  @bind-Value="model.About" For="@(() => model.About)" />

					<MudTextField Label="Salary" Class="mt-3"
								  @bind-Value="model.Salary" For="@(() => model.Salary)" />

					<MultiChipSelectComponent 
											  Skills="Javascript||Nodejs||Visual Studio||Python"
											  Label="Skill"
											  ValueChanged="(e)=>{model.SelectedSkills = e;}" />



		
					<MultiChipSelectComponent Skills="Remote||On-Site||Hybrid"
											  Label="Work Location"
											  ValueChanged="(e)=>{model.WorkLocationType = e;}" />

					<MultiChipSelectComponent Skills="Full Time||Part TIme||Contract"
											  Label="Work Type"
											  ValueChanged="(e)=>{model.WorkType = e;}" />




					<MudTextField Label="Contact Email" Class="mt-3"
								  @bind-Value="model.ContactEmail" For="@(() => model.ContactEmail)" />

				</MudCardContent>

				<div Class="pa-3">
					<MultiListItem ValueChanged="(e)=>{model.Responsiblities = e;}" Label="Responsibility" />
					<MultiListItem ValueChanged="(e)=>{model.Qualifications = e;}" Label="Qualification" />
				</div>
				<MudCardActions>
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
				</MudCardActions>
			</MudCard>


			<MudPaper Class="pa-4 mud-height-full">
				
				
					<MudText Color="@Color.Error">
						<ValidationSummary />
					</MudText>
				
				
			</MudPaper>
		</MudItem>

	</MudGrid>
</EditForm>


