@page "/applicant-information/{Id:int}"

@if (Applicant != null)
{
	<MudContainer>

		<MudGrid>
			<MudItem md="7" sm="5">
				<!------------------>
				<MudText Typo="Typo.h5" Style="font-weight:bolder">@Applicant.Name</MudText>
					<MudText Typo="Typo.caption">@Applicant.Title</MudText>

					<div class="d-flex">
						<MudText Typo="Typo.caption" Style="font-weight:lighter">@Applicant.Country , @Applicant.City</MudText>
					</div>

					<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Short Bio</MudText>

					<MudText Typo="Typo.body2">
						@Applicant.ShortBio
				</MudText>


				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Skills</MudText>

				<div Class="d-flex align-center">
					<ChipComponent InputValue="@Applicant.SelectedSkills" />
				</div>

				<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">Work Experience</MudText>

				@if (WorkExperiences != null)
				{
					@foreach (var item in WorkExperiences)
					{
						<div class="d-flex mt-3">
							<div class="mr-3">
								<MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.Work"></MudIcon>
							</div>
							<div style="width:80%">
								<MudText Style="font-weight:bolder">@item.Title</MudText>
									<div class="justify-content-between">
										<MudText>@item.Location - @item.Company</MudText>
										<MudText>@item.Duration</MudText>
									</div>
									<MudText Typo="Typo.body2">
										@item.Summary
								</MudText>
							</div>
						</div>
					}

				}


				<!------------------>


			</MudItem>
			<MudItem md="5" sm="5">
				<div class="d-flex">
					<MudIcon Class="mr-2" Icon="@Icons.Material.Filled.Home"></MudIcon>
					<MudText>@Applicant.Country</MudText>
					</div>
					<MudText Typo="Typo.h5" Style="font-weight:bold" Class="mt-3"> @Applicant.AverageSalary </MudText>
					<MudText Typo="Typo.body1">Avg Salary</MudText>

					<MudList>
						<MudListItem Avatar="@Icons.Material.Filled.Mail">
							<MudText Typo="Typo.h6" Style="font-weight:bold"> @Applicant.Email </MudText>
							<MudText Typo="Typo.body2">Contact Email</MudText>
						</MudListItem>

						<MudListItem Avatar="@Icons.Material.Filled.Headphones">
							<MudText Typo="Typo.h6" Style="font-weight:bold">@Applicant.PhoneNumber</MudText>
							<MudText Typo="Typo.body2">Phone</MudText>
						</MudListItem>
					</MudList>

					@if (!Applicant.isAuthUser)
				{
					<MudButton Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Contact</MudButton>
				}
				else
				{
					<MudButton Href="edit-applicant-info" Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Edit Information</MudButton>

				}

			</MudItem>
		</MudGrid>




	</MudContainer>
}
